@import './src/variables';

.menu {
  display: flex;
  flex-direction: row;
  width: 40%;

  &__item {
    margin: 0 0 0 20px;
  }

  &__item--link {
    transition: all .3s cubic-bezier(.47, 0, .745, .715);
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      transition: all .3s cubic-bezier(.47, 0, .745, .715);
      color: #f262fb;
    }
  }

  &__item--link.active {
    color: #f0a0f5;
  }
}