@import './src/variables';

.profile {
  display: flex;
  flex-direction: row;
  min-height: calc(80vh - 70px);

  .users {
    display: flex;
    flex-direction: column;

    .new-user {
      display: flex;
      flex-direction: column;

      &__name {
        color: $text-color;
      }

      &__button {
        cursor: pointer;
      }
    }

    .user {
      @include fonts(18px, 20px, 600);
      background: $dialog-bg;
      border-radius: 5px;
      transition: 0.3s;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      margin: 5px 0;

      &__link {
        padding: 10px;
        text-decoration: none;
        color: $dialog-color;
        transition: 0.3s;

        &:hover {
          background: $main-bg;
          color: $text-color;
        }
      }
    }
  }

  .messages {
    display: flex;
    flex-direction: column;

    .message {
      padding: 10px;
      margin: 5px 15px;
      @include fonts(18px, 20px, 600);
      color: $dialog-color;
      background: $dialog-bg;
      border-radius: 5px;
    }

    .new-message {
      display: flex;
      flex-direction: column;

      &__message{
        color: $text-color;
      }
      
      &__button{
        cursor: pointer;
      }
    }
  }
}