.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
          "header header header"
          "main main sidebar"
          "footer footer footer";
}

.container {
  width: 70%;
  margin: auto;
}