@import './src/variables';

.header {
  padding: 20px 0;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__logo--image {
    max-width: 100px;
  }
}