@import "src/variables";

.film {
  height: 235px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000000;
  width: 100%;

  &__image {

    &--avatar {
      border-radius: 10px;
      max-width: 220px;
    }
  }

  &__description {
    height: 95%;
    width: 100%;
    background: cornsilk;
    margin: 0 0 0 20px;
    padding: 0 20px;
    border-radius: 10px;
  }
}