@import "src/variables";

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: $main-bg;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}