@import '../../variables';

.users-page {

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .user {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      padding: 10px;
      margin: 0 0 20px;
      background: #f7fffc;
      max-width: 300px;

      &__header {
        display: flex;
        flex-direction: column;

        &__avatar {
          max-width: 100%;
          min-height: 210px;

          &__image {
            max-width: 300px;
            border-radius: 5px;
            max-height: 210px;
          }
        }
      }

      &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__name {
          font-weight: 700;
        }

        &__location {
          font-weight: 700;
        }
      }

      &__bottom {
        display: flex;
        flex-direction: column;

        &__status {
          font-weight: 500;

          &__title {
            font-weight: 700;
          }
        }

        &__button {
          align-self: flex-end;
          background-color: #13a037;
          border-radius: 2px;
          color: #fff;
          width: 35%;
          padding: 8px 20px;
          border: none;
          font-size: 13px;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
  }
}
